<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title>
      Encabezados
    </ion-title>
  </ion-toolbar>
  <ion-segment scrollable mode="md" color="primary">
  <ion-segment-button mode="md" value="option">
  <ion-label text-capitalize>Noticias al día</ion-label>
  </ion-segment-button>
    <ion-segment-button mode="md" value="option">
  <ion-label text-capitalize>Noticias al día</ion-label>
  </ion-segment-button>
    <ion-segment-button mode="md" value="option">
  <ion-label text-capitalize>Noticias al día</ion-label>
  </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content color="dark">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
