ion-segment-button {
  background-color: var( --ion-color-dark ) !important;
  color: white !important; //important para q subscriba cualquier otro atributo que este ahi
}

.segment-button-checked {
  color: var(  --ion-color-primary) !important;
}